/* Names: Artin Azizi (041131883), Mohamed Dualeh (41137299), Raisa Rahman (041129634)
Professor: Alemeseged Legesse
File Name: edit-profile.css
Date: 8/11/2024
Description: CSS Stylesheet for edit-profile page. */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

@font-face {
    font-family: alexana;
    src: url(../fonts/Alexana.ttf);
}

/* background-color: #12262d;
    background-color: #36827f; */
@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-color: #12262d;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.nav {
    /* border: solid red 1px; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav span {
    font-family: alexana;
    font-size: 40px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.nav a, #topName {
    font-family: inter;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.edit-container {
    /* border: solid white 1px; */
    height: 100vh;
}

.content-wrapper {
    /* border: solid yellow 1px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.avi {
    margin: 30px;
}

#avi {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-wrapper {
    /* border: solid yellow 1px; */
    width: fit-content;
    padding: 20px;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    border: none;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

form button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: white;
}

form button::before {
    color: white;
}

form button:hover {
    border: 2px solid rgb(0, 0, 0);
    background-color: #36827f;

    i {
        color: white;
        cursor: pointer;
    }
}

i {
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    .edit-container {
        height: fit-content;
    }

    .content-wrapper {
        height: fit-content;
        flex-direction: column;
        padding: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .nav a, #topName {
        font-size: 15px;
    }
}