@font-face {
    font-family: alexana;
    src: url(../fonts/Alexana.ttf);
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-color: #12262d;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.activity-container {
    height: 100vh;
}

.nav {
    /* border: solid white 1px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav span {
    /* border: solid white 1px; */
    font-family: alexana;
    font-size: 45px;
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.nav a,
.nav p {
    text-decoration: none;
    font-family: inter;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.activity-wrapper {
    /* border: solid white 1px; */
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    /* border: solid white 1px; */
    width: fit-content;
    font-family: inter;
    font-size: 80px;
    font-weight: bold;
    opacity: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #36827f;
}

.delete-wrapper {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

#delete-itry {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: 0.2s;
}

#delete-itry:hover {
    background: rgb(54, 130, 127);
    transform: translateY(-2px);
}

#empty {
    color: white;
    font-style: italic;
    font-family: inter;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.card {
    /* border: solid black 1px; */
    height: 300px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    background: rgba(255, 255, 255, 0.3);
}

.imgWrapper {
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.content {
    /* border: solid white 1px; */
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: inter;
    color: white;
    width: 50%;
    height: 100%;
}

.content p {
    margin: 5px;
}

.icon {
    /* border: solid white 1px; */
    margin-right: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.icon:hover {
    background: rgb(54, 130, 127);
    transform: translateY(-2px);
}