@font-face {
  font-family: alexana;
  src: url(../fonts/Alexana.ttf);
}

@font-face {
  font-family: inter;
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #12262d;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.search-results-container {
  /* border: 1px solid white; */
  height: 100vh;
}

.nav {
  /* border: solid white 1px; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav span {
  /* border: solid white 1px; */
  font-family: alexana;
  font-size: 45px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}

.nav a, #topName {
  text-decoration: none;
  font-family: inter;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.viewing {
  /* border: solid white 1px; */
  width: fit-content;
  font-family: inter;
  font-size: 80px;
  font-weight: bold;
  opacity: 70%;
  margin-left: 25px;
  margin-right: auto;
  color: white;
}

@media screen and (max-width: 1000px) {
  .viewing {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .viewing {
    font-size: 40px;
  }

  .card {
    margin: auto;
  }
}

.viewing span {
  color: #36827f;
}

.search-results {
  /* border: 1px solid red; */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  /* border: solid black 1px; */
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  font-family: inter;
  flex: 0 0 30%;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.activity-name {
  /* border: solid white 1px; */
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.card img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.activity-name {
  font-size: 20px;
  margin: 10px;
}

.description {
  /* border: solid green 1px; */
  padding: 10px;
  height: 20%;
}

.add-btn {
  /* border: solid green 1px; */
  position: absolute;
  z-index: 10;
  font-size: 50px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #12262d;
  right: 5%;
  bottom: 5%;
  background: rgba(54, 130, 127, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.card:hover .add-btn {
  opacity: 1;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
}

#addModal {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  height: 400px;
  color: #12262d;
  font-family: inter;
  font-size: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

form p {
  font-weight: bold;
  text-align: center;
}

#redirect, #alternate {
  font-weight: 400;
  text-decoration: none;
  color: #12262d;
}

#redirect {
  cursor: pointer;
  transition: 0.2s;
}

#redirect:hover {
  font-weight: bold;
}

form input {
  background: transparent;
  border: none;
  border-radius: 50px !important;
  padding: 10px;
  font-family: inter;
  font-size: 20px;
  margin: 5px;
}

form input:hover, form input:focus {
  border: none;
  outline: none;
  background: rgba(18, 38, 45, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}

form button {
  border: none;
  color: #12262d;
  margin: 10px;
  height: 50px;
  width: 80px;
  border-radius: 50px !important;
  font-size: 20px;
  font-family: inter;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  transform: translateY(-2px);
  color: white;
  background-color: #12262d;
}

.close {
  /* border: solid white 1px; */
  text-align: right;
  padding-right: 15px;
  color: #12262d;
  font-size: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.close:hover {
  color: white;
}

.success {
  width: fit-content;
  border-radius: 50px;
  padding: 10px;
  font-family: inter;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: none;
}