@font-face {
  font-family: alexana;
  src: url(../fonts/Alexana.ttf);
}

@font-face {
  font-family: inter;
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: default;
}

body {
  background: #033566;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.search-results-container {
  /* border: 1px solid white; */
  height: 100vh;
}

.nav {
  /* border: solid white 1px; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav span {
  /* border: solid white 1px; */
  font-family: alexana;
  font-size: 45px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}

.nav a {
  text-decoration: none;
  font-family: inter;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.viewing {
  /* border: solid white 1px; */
  width: fit-content;
  font-family: inter;
  font-size: 80px;
  font-weight: bold;
  opacity: 70%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.viewing span {
  color: tomato;
}

.search-results {
  /* border: 1px solid red; */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  /* border: solid black 1px; */
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  font-family: inter;
  flex: 0 0 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.activity-name {
  font-weight: bold;
}

.card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.activity-name {
  font-size: 20px;
  margin: 10px;
}

.description {
  /* border: solid green 1px; */
  padding: 10px;
}

.add-btn {
  /* border: solid green 1px; */
  position: absolute;
  z-index: 10;
  font-size: 50px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  color: #003556;
  right: 5%;
  bottom: 5%;
  background: rgba(255, 0, 98, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
}

.card:hover .add-btn {
  display: flex;
}

#addModal {
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 400px;
  height: 400px;
  color: #003566;
  font-family: inter;
  font-size: 20px;
}

.form-wrapper {
  /* border: solid black 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

form p {
  font-weight: bold;
}

form label {
  margin: 10px;
}

form button {
  border: solid black 1px;
  margin: 10px;
  height: 50px;
  width: 60px;
  border-radius: 50px !important;
  font-size: 20px;
  font-family: inter;
  cursor: pointer;
}

.close {
  /* border: solid white 1px; */
  text-align: right;
  padding-right: 15px;
  color: #003566;
  font-size: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.close:hover {
  color: tomato;
}