/* Names: Artin Azizi (041131883), Mohamed Dualeh (41137299), Raisa Rahman (041129634)
Professor: Alemeseged Legesse
File Name: signup.css
Date: 8/11/2024
Description: CSS Stylesheet for signup page. */

@font-face {
    font-family: alexana;
    src: url(../fonts/Alexana.ttf);
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-image: url(../images/waves-pok-rie.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.signup-window {
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.nav div a {
    font-family: inter;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.nav span a {
    font-family: alexana;
    text-decoration: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    font-weight: 400;
}

.form-container {
    margin: 20px;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

form {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding: 15px;
    width: 100%;
    font-family: inter;
    font-size: 80px;
    color: white;
    opacity: 70%;
}

.signupItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

form input {
    text-align: center;
    background-color: transparent;
    border: none;
    height: 50px;
    border-radius: 50px !important;
    font-family: inter;
    font-size: 20px;
    cursor: pointer;
}

.error {
    color: tomato;
    font-size: 20px;
    text-align: center;
    font-family: inter;
    font-weight: bold;
}

input.error {
    border: solid tomato 2px;
}

form input::placeholder {
    color: #003566;
}

#signupButton {
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-family: inter;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#signupButton:hover {
    background-color: #003566;
    transform: translateY(-2px);
}

.login {
    padding: 10px;
    text-align: center;
    font-family: inter;
    color: white;
}

.login a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.login a:hover {
    color: #003566;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .form-container{
        width: 90%;
    }

    h2{
        font-size: 35px;
    }

    form input{
        font-size: 15px;
    }

    .nav div a, .nav span a{
        font-size: 20px;
    }

    #signupButton{
        font-size: 15px;
    }

    .error{
        font-size: 15px;
    }

    body{
        background-size: 300%;
        background-position: center center;
    }
}

    @media screen and (max-width: 330px) {

        .form-container{
            width: 90%;
        }
    
        h2{
            font-size: 25px;
        }
    
        form input{
            font-size: 15px;
        }
    
        .nav div a, .nav span a{
            font-size: 15px;
        }
    
        #signupButton{
            font-size: 15px;
        }
    
        .error{
            font-size: 10px;
        }
    
        body{
            background-size: 500%;
            background-position: center center;
            
        }
}